{% extends 'base.html.twig' %}

{% block title %}Création Compte{% endblock %}

{% block body %}

<!-- Rendez-vous -->
    <section>
        <h2 class="title" id="rendezVs">Rendez-vous</h2>
        <div>
            <select id="rdz">
                <option selected disabled value="selection">--Sélectionne--</option>
                <option value="rehaussement">Réhaussement Cil 25€</option>
                <option value="">Réhaussement + Teinture 30€</option>
                <option value="">Extension Cil à Cil 35€</option>
            </select>
        </div>
        <div id="calendar">
          {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.heure) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
        </div>
    </section>
    {% endblock %}